<%_ const pageID = 'top'; _%>
<%- include(`${relativePath}_partials/_meta`, {id: pageID}) _%>
<%- include(`${relativePath}_partials/_header`, {id: pageID}) _%>
<main>
  <p><%= conf[pageID].discription %></p>
</main>
<%- include(`${relativePath}_partials/_footer`) _%>
</body>
</html>