<nav>
  <div class="l-content">
    <ul>
      <%_ for (let index = 1; index < 5; index++) { _%>
      <li><a href="#section<%- index %>">section<%- index %></a></li>
      <%_ } _%>
    </ul>
  </div>
</nav>
